parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method App\\\\Manager\\\\Application\\\\Command\\\\Ring\\\\Init\\\\Response\\\\InitLabelSlotsResponse\\:\\:getError\\(\\)\\.$#"
			count: 1
			path: src/Manager/Application/Command/Ring/Init/Presenter/JsonPresenter.php

		-
			message: "#^Call to an undefined method App\\\\Manager\\\\Application\\\\Command\\\\Ring\\\\Init\\\\Response\\\\InitLabelSlotsResponse\\:\\:getValidationErrors\\(\\)\\.$#"
			count: 1
			path: src/Manager/Application/Command/Ring/Init/Presenter/JsonPresenter.php

		-
			message: "#^Match expression does not handle remaining value\\: class\\-string\\<App\\\\Manager\\\\Application\\\\Command\\\\Ring\\\\Init\\\\Response\\\\InitLabelSlotsResponse\\>$#"
			count: 1
			path: src/Manager/Application/Command/Ring/Init/Presenter/JsonPresenter.php

		-
			message: "#^Call to an undefined method App\\\\Manager\\\\Application\\\\Command\\\\Ring\\\\Reset\\\\Response\\\\ResetRingResponse\\:\\:getError\\(\\)\\.$#"
			count: 1
			path: src/Manager/Application/Command/Ring/Reset/Presenter/JsonPresenter.php

		-
			message: "#^Match expression does not handle remaining value\\: class\\-string\\<App\\\\Manager\\\\Application\\\\Command\\\\Ring\\\\Reset\\\\Response\\\\ResetRingResponse\\>$#"
			count: 1
			path: src/Manager/Application/Command/Ring/Reset/Presenter/JsonPresenter.php

		-
			message: "#^Property App\\\\Manager\\\\Application\\\\Command\\\\Ring\\\\Reset\\\\ResetRingCommandHandler\\:\\:\\$validator is never read, only written\\.$#"
			count: 1
			path: src/Manager/Application/Command/Ring/Reset/ResetRingCommandHandler.php

		-
			message: "#^Method App\\\\Manager\\\\Application\\\\Command\\\\Worker\\\\Join\\\\JoinRequest\\:\\:getNetworkAddress\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/Manager/Application/Command/Worker/Join/JoinRequest.php

		-
			message: "#^Method App\\\\Manager\\\\Application\\\\Command\\\\Worker\\\\Join\\\\JoinRequest\\:\\:getNetworkPort\\(\\) should return int but returns int\\|null\\.$#"
			count: 1
			path: src/Manager/Application/Command/Worker/Join/JoinRequest.php

		-
			message: "#^Method App\\\\Manager\\\\Application\\\\Command\\\\Worker\\\\Join\\\\JoinRequest\\:\\:getWeight\\(\\) should return int but returns int\\|null\\.$#"
			count: 1
			path: src/Manager/Application/Command/Worker/Join/JoinRequest.php

		-
			message: "#^Call to an undefined method App\\\\Manager\\\\Application\\\\Command\\\\Worker\\\\Join\\\\Response\\\\JoinResponse\\:\\:getError\\(\\)\\.$#"
			count: 1
			path: src/Manager/Application/Command/Worker/Join/Presenter/JsonPresenter.php

		-
			message: "#^Call to an undefined method App\\\\Manager\\\\Application\\\\Command\\\\Worker\\\\Join\\\\Response\\\\JoinResponse\\:\\:getValidationErrors\\(\\)\\.$#"
			count: 1
			path: src/Manager/Application/Command/Worker/Join/Presenter/JsonPresenter.php

		-
			message: "#^Call to an undefined method App\\\\Manager\\\\Application\\\\Command\\\\Worker\\\\Join\\\\Response\\\\JoinResponse\\:\\:getWorkerNode\\(\\)\\.$#"
			count: 1
			path: src/Manager/Application/Command/Worker/Join/Presenter/JsonPresenter.php

		-
			message: "#^Match expression does not handle remaining value\\: class\\-string\\<App\\\\Manager\\\\Application\\\\Command\\\\Worker\\\\Join\\\\Response\\\\JoinResponse\\>$#"
			count: 1
			path: src/Manager/Application/Command/Worker/Join/Presenter/JsonPresenter.php

		-
			message: "#^Method App\\\\Manager\\\\Application\\\\Command\\\\Worker\\\\Leave\\\\LeaveRequest\\:\\:getWorkerId\\(\\) should return int but returns int\\|null\\.$#"
			count: 1
			path: src/Manager/Application/Command/Worker/Leave/LeaveRequest.php

		-
			message: "#^Call to an undefined method App\\\\Manager\\\\Application\\\\Command\\\\Worker\\\\Leave\\\\Response\\\\LeaveResponse\\:\\:getError\\(\\)\\.$#"
			count: 1
			path: src/Manager/Application/Command/Worker/Leave/Presenter/JsonPresenter.php

		-
			message: "#^Call to an undefined method App\\\\Manager\\\\Application\\\\Command\\\\Worker\\\\Leave\\\\Response\\\\LeaveResponse\\:\\:getValidationErrors\\(\\)\\.$#"
			count: 1
			path: src/Manager/Application/Command/Worker/Leave/Presenter/JsonPresenter.php

		-
			message: "#^Match expression does not handle remaining value\\: class\\-string\\<App\\\\Manager\\\\Application\\\\Command\\\\Worker\\\\Leave\\\\Response\\\\LeaveResponse\\>$#"
			count: 1
			path: src/Manager/Application/Command/Worker/Leave/Presenter/JsonPresenter.php

		-
			message: "#^Method App\\\\Manager\\\\Domain\\\\Model\\\\Dto\\\\WorkerNodeDto\\:\\:getSubLabels\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Manager/Domain/Model/Dto/WorkerNodeDto.php

		-
			message: "#^Property App\\\\Manager\\\\Domain\\\\Model\\\\Dto\\\\WorkerNodeDto\\:\\:\\$subLabels is never written, only read\\.$#"
			count: 1
			path: src/Manager/Domain/Model/Dto/WorkerNodeDto.php

		-
			message: "#^Property App\\\\Manager\\\\Domain\\\\Model\\\\Dto\\\\WorkerNodeDto\\:\\:\\$workerPreferenceList is never written, only read\\.$#"
			count: 1
			path: src/Manager/Domain/Model/Dto/WorkerNodeDto.php

		-
			message: "#^Method App\\\\Manager\\\\Domain\\\\Model\\\\Entity\\\\WorkerNode\\:\\:getLabelSlots\\(\\) should return array\\<App\\\\Manager\\\\Domain\\\\Model\\\\Entity\\\\LabelSlot\\> but returns array\\.$#"
			count: 1
			path: src/Manager/Domain/Model/Entity/WorkerNode.php

		-
			message: "#^Method App\\\\Manager\\\\Infrastructure\\\\Persistence\\\\Repository\\\\DoctrineInterfaceLabelRepositoryInterface\\:\\:findAllSlots\\(\\) should return array\\<App\\\\Manager\\\\Domain\\\\Model\\\\Entity\\\\LabelSlot\\> but returns array\\<int, object\\>\\.$#"
			count: 1
			path: src/Manager/Infrastructure/Persistence/Repository/DoctrineInterfaceLabelRepositoryInterface.php

		-
			message: "#^Method App\\\\Manager\\\\Infrastructure\\\\Persistence\\\\Repository\\\\DoctrineInterfaceLabelRepositoryInterface\\:\\:findFree\\(\\) should return array\\<App\\\\Manager\\\\Domain\\\\Model\\\\Entity\\\\LabelSlot\\> but returns mixed\\.$#"
			count: 1
			path: src/Manager/Infrastructure/Persistence/Repository/DoctrineInterfaceLabelRepositoryInterface.php

		-
			message: "#^Method App\\\\Manager\\\\Infrastructure\\\\Persistence\\\\Repository\\\\DoctrineInterfaceWorkerNodeRepository\\:\\:findAll\\(\\) should return array\\<int, object\\> but returns mixed\\.$#"
			count: 1
			path: src/Manager/Infrastructure/Persistence/Repository/DoctrineInterfaceWorkerNodeRepository.php

		-
			message: "#^Method App\\\\Manager\\\\Infrastructure\\\\Persistence\\\\Repository\\\\DoctrineInterfaceWorkerNodeRepository\\:\\:findOneById\\(\\) should return App\\\\Manager\\\\Domain\\\\Model\\\\Entity\\\\WorkerNode\\|null but returns mixed\\.$#"
			count: 1
			path: src/Manager/Infrastructure/Persistence/Repository/DoctrineInterfaceWorkerNodeRepository.php
