parameters:
	ignoreErrors:
		-
			message: "#^Class App\\\\Background\\\\Infrastructure\\\\Persistence\\\\Repository\\\\NodeRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: src/Background/Infrastructure/Persistence/Repository/NodeRepository.php

		-
			message: "#^Method App\\\\Manager\\\\Application\\\\Command\\\\Join\\\\Request\\\\NodeRequest\\:\\:getNetworkPort\\(\\) should return int\\<1, max\\> but returns int\\.$#"
			count: 1
			path: src/Manager/Application/Command/Join/Request/NodeRequest.php

		-
			message: "#^Method App\\\\Manager\\\\Application\\\\Command\\\\Join\\\\Request\\\\SelfNodeRequest\\:\\:getWeight\\(\\) should return int\\<1, max\\> but returns int\\.$#"
			count: 1
			path: src/Manager/Application/Command/Join/Request/SelfNodeRequest.php

		-
			message: "#^Method App\\\\Manager\\\\Infrastructure\\\\Persistence\\\\Repository\\\\NodeRepository\\:\\:findAll\\(\\) should return array\\<int, App\\\\Shared\\\\Infrastructure\\\\Persistence\\\\Doctrine\\\\Node\\> but returns array\\<App\\\\Manager\\\\Domain\\\\Model\\\\Aggregate\\\\Node\\\\Node\\>\\.$#"
			count: 1
			path: src/Manager/Infrastructure/Persistence/Repository/NodeRepository.php

		-
			message: "#^Return type \\(array\\<int, App\\\\Shared\\\\Infrastructure\\\\Persistence\\\\Doctrine\\\\Node\\>\\) of method App\\\\Manager\\\\Infrastructure\\\\Persistence\\\\Repository\\\\NodeRepository\\:\\:findAll\\(\\) should be compatible with return type \\(array\\<App\\\\Manager\\\\Domain\\\\Model\\\\Aggregate\\\\Node\\\\Node\\>\\) of method App\\\\Manager\\\\Domain\\\\Out\\\\Node\\\\FinderInterface\\:\\:findAll\\(\\)$#"
			count: 1
			path: src/Manager/Infrastructure/Persistence/Repository/NodeRepository.php

		-
			message: "#^Method App\\\\Shared\\\\Infrastructure\\\\Persistence\\\\Doctrine\\\\Node\\:\\:getNetworkPort\\(\\) should return int\\<1, max\\> but returns int\\.$#"
			count: 1
			path: src/Shared/Infrastructure/Persistence/Doctrine/Node.php

		-
			message: "#^Method App\\\\Shared\\\\Infrastructure\\\\Persistence\\\\Doctrine\\\\Node\\:\\:getWeight\\(\\) should return int\\<1, max\\> but returns int\\.$#"
			count: 1
			path: src/Shared/Infrastructure/Persistence/Doctrine/Node.php
