parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$value of method App\\\\Background\\\\Domain\\\\Model\\\\Aggregate\\\\Ring\\\\Collection\\\\NodeCollection\\:\\:add\\(\\) expects App\\\\Background\\\\Domain\\\\Model\\\\Aggregate\\\\Ring\\\\Node, mixed given\\.$#"
			count: 2
			path: src/Background/Domain/Model/Aggregate/Ring/Ring.php

		-
			message: "#^Method App\\\\Manager\\\\Application\\\\Command\\\\Join\\\\Request\\\\NodeRequest\\:\\:getNetworkPort\\(\\) should return int\\<1, max\\> but returns int\\.$#"
			count: 1
			path: src/Manager/Application/Command/Join/Request/NodeRequest.php

		-
			message: "#^Method App\\\\Manager\\\\Application\\\\Command\\\\Join\\\\Request\\\\SelfNodeRequest\\:\\:getWeight\\(\\) should return int\\<1, max\\> but returns int\\.$#"
			count: 1
			path: src/Manager/Application/Command/Join/Request/SelfNodeRequest.php

		-
			message: "#^In method \"App\\\\Manager\\\\Application\\\\Query\\\\NodeList\\\\NodeListQueryHandler\\:\\:__invoke\", caught \"Throwable\" must be rethrown\\. Either catch a more specific exception or add a \"throw\" clause in the \"catch\" block to propagate the exception\\. More info\\: http\\://bit\\.ly/failloud$#"
			count: 1
			path: src/Manager/Application/Query/NodeList/NodeListQueryHandler.php

		-
			message: "#^Method App\\\\Manager\\\\Application\\\\Query\\\\NodeList\\\\ViewModel\\\\Dto\\\\JsonNodeResponse\\:\\:getVirtualNodes\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Manager/Application/Query/NodeList/ViewModel/Dto/JsonNodeResponse.php

		-
			message: "#^Method App\\\\Manager\\\\Application\\\\Query\\\\Ring\\\\ViewModel\\\\JsonSuccessViewModel\\:\\:getVirtualNodeList\\(\\) should return array\\<App\\\\Manager\\\\Application\\\\Query\\\\Ring\\\\ViewModel\\\\Dto\\\\JsonVirtualNode\\> but returns array\\<int, mixed\\>\\.$#"
			count: 1
			path: src/Manager/Application/Query/Ring/ViewModel/JsonSuccessViewModel.php

		-
			message: "#^Method App\\\\Shared\\\\Domain\\\\Model\\\\Collection\\\\ReadOnlyCollection\\:\\:filter\\(\\) should return static\\(App\\\\Shared\\\\Domain\\\\Model\\\\Collection\\\\ReadOnlyCollection\\<T\\>\\) but returns static\\(App\\\\Shared\\\\Domain\\\\Model\\\\Collection\\\\ReadOnlyCollection\\<T\\>\\)\\.$#"
			count: 1
			path: src/Shared/Domain/Model/Collection/ReadOnlyCollection.php

		-
			message: "#^Property App\\\\Shared\\\\Infrastructure\\\\Persistence\\\\Doctrine\\\\Item\\:\\:\\$ringKey type mapping mismatch\\: database can contain int but property expects int\\<0, 360\\>\\.$#"
			count: 1
			path: src/Shared/Infrastructure/Persistence/Doctrine/Item.php

		-
			message: "#^Method App\\\\Shared\\\\Infrastructure\\\\Persistence\\\\Doctrine\\\\Node\\:\\:getNetworkPort\\(\\) should return int\\<1, max\\> but returns int\\.$#"
			count: 1
			path: src/Shared/Infrastructure/Persistence/Doctrine/Node.php

		-
			message: "#^Method App\\\\Shared\\\\Infrastructure\\\\Persistence\\\\Doctrine\\\\Node\\:\\:getWeight\\(\\) should return int\\<1, max\\> but returns int\\.$#"
			count: 1
			path: src/Shared/Infrastructure/Persistence/Doctrine/Node.php

		-
			message: "#^Method App\\\\Shared\\\\Infrastructure\\\\Symfony\\\\Service\\\\CustomRingKeyHasher\\:\\:hash\\(\\) should return int\\<0, 360\\> but returns int\\.$#"
			count: 1
			path: src/Shared/Infrastructure/Symfony/Service/CustomRingKeyHasher.php
