{% extends '@admin/base.html.twig' %}

{% block container_attributes %} data-controller="topology"{% endblock %}

{% block sidebar_status %}
    <div class="status-bar">
        <div class="status-count">
            <div class="status-dot up"></div>
            <span id="upCount" data-topology-target="upCount">0</span> UP
        </div>
        <div class="status-count">
            <div class="status-dot pending"></div>
            <span id="pendingCount" data-topology-target="pendingCount">0</span> PENDING
        </div>
        <div class="status-count">
            <div class="status-dot error"></div>
            <span id="errorCount" data-topology-target="errorCount">0</span> ERROR
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="controls">
        <button class="cyber-button" data-action="click->topology#refresh">REFRESH</button>
    </div>

    <twig:Topology:TopologyGraph />


    <!-- Node Info Tooltip -->
    <div class="node-info" id="nodeInfo" data-topology-target="nodeInfo">
        <h4 id="nodeTitle" data-topology-target="nodeTitle">Node Information</h4>
        <div class="info-metric">
            <span>Status:</span>
            <span id="nodeStatus" data-topology-target="nodeStatus">Online</span>
        </div>
        <div class="info-metric">
            <span>Load:</span>
            <span id="nodeLoad" data-topology-target="nodeLoad">45%</span>
        </div>
        <div class="info-metric">
            <span>Ping:</span>
            <span id="nodePing" data-topology-target="nodePing">2ms</span>
        </div>
    </div>
{% endblock %}

{% block importmap %}{{ importmap('topology') }}{% endblock %}
